
#toTop {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 9999;
  }
  
  #toTop:hover {
    background-color: #555;
  }
  
  #toTop:hover #toTopHover {
    opacity: 1;
  }
  
  #toTop #toTopHover {
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #555;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }  

/* */

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffca28;
}

section {
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

button[type="submit"] {
    background-color: #ffca28;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #333;
    color: #4644b2;
}

/* */

#menu a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #f5f0f0;
    font-weight: bold;
  }
  /* Style the active menu link */
  #menu a.active {
    color: #f00;
  }
  /* Style the sections */
  section {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
  }

  #resume a,
#contact a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#resume a:hover,
#contact a:hover {
  background-color: #0056b3;
}
